<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 引入 Bootstrap -->
      <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

      <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="/static/dist/js/jquery-2.0.3.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->

    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/echarts/echarts.js"></script>
    <script src="/static/dist/js/index/show_entity.js"></script>
{#    <script src="/static/js/index/merging_rule.js"></script>#}

    <link type="text/css" rel="stylesheet" href="/static/dist/css/index/show_entity.css">
    <link type="text/css" rel="stylesheet" href="/static/dist/css/sidebar.css">
    <link type="text/css" rel="stylesheet" href="/static/dist/css/header.css">

    <!--swiper框架样式-->
    <link rel="stylesheet" type="text/css" href="/static/swiper/css/swiper-3.4.2.min.css" />

    <!--插件-->
    <script src="/static/swiper/js/swiper-3.4.2.jquery.min.js" type="text/javascript" charset="utf-8"></script>

    <title>知识图谱构建系统</title>

</head>
<body>
    <div id="wrapper">
        {% include "header.html" %}
        {% include "sidebar.html" %}
        <div class="col-sm-10 main-content">
            <div class="container-fluid">
                <div class="row">
                    <h1>查看图谱</h1>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        <div class="row">
                            <form role="form" class="form-horizontal">
                                <div class="form-group col-sm-6">
                                  <label for="name" class="col-sm-2 control-label category_select_label">类目:</label>
                                  <div class="col-sm-8">
                                    <select class="form-control" id="category_select">
{#                                        {% for item in category %}#}
{#                                            <option data-id="{{ item.id }}">{{ item.category_name }}</option>#}
{#                                        {% endfor %}#}
{#                                      <option>类目1</option>#}
{#                                      <option>类目2</option>#}
{#                                      <option>类目3</option>#}
{#                                      <option>类目4</option>#}
{#                                      <option>5</option>#}
                                    </select>
                                  </div>
                                </div>
                                <div class="form-group col-sm-6">
                                  <div class="col-sm-8">
                                    <input type="text" class="form-control" id="entity_search_text" placeholder="请输入搜索内容">
                                  </div>
                                    <input type="button" class="col-sm-4 btn btn-default" id="entity_search_btn" value="搜索"/>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div id="main"></div>
                        </div>
                        <div class="row time_axis">
                            <div class="product-section product-features">
                              <div class="product-title">时间轴</div>
                              <div class="product-wrapper">
                                <div class="product-body swiper-container">
                                  <ul class="features-slide swiper-wrapper">
{#                                    <li class="features-item swiper-slide">#}
{#                                      <h3>2017-01-30</h3>#}
{#                                      <i></i> <a class="features-info">#}
{#                                      <p class="features-info-i"></p>#}
{#                                      <p class="features-info-s"> 支持通过VPC与弹性云服务器进行混合组网 </p>#}
{#                                      </a> </li>#}
{#                                    <li class="features-item swiper-slide">#}
{#                                      <h3>2017-03-30</h3>#}
{#                                      <i></i> <a class="features-info">#}
{#                                      <p class="features-info-i"></p>#}
{#                                      <p class="features-info-s"> 支持云硬盘在线挂载、卸载，弹性扩容 </p>#}
{#                                      </a> </li>#}
{#                                    <li class="features-item swiper-slide">#}
{#                                      <h3>2017-07-30</h3>#}
{#                                      <i></i> <a class="features-info">#}
{#                                      <p class="features-info-i"></p>#}
{#                                      <p class="features-info-s"> 支持裸金属服务器自动化发放 </p>#}
{#                                      </a> </li>#}
{#                                    <li class="features-item swiper-slide">#}
{#                                      <h3>2017-11-30</h3>#}
{#                                      <i></i> <a class="features-info">#}
{#                                      <p class="features-info-i"></p>#}
{#                                      <p class="features-info-s"> 支持私有镜像，支撑企业业务部署 </p>#}
{#                                      </a> </li>#}
{#                                    <li class="features-item swiper-slide">#}
{#                                      <h3>2018-08-30</h3>#}
{#                                      <i></i> <a class="features-info">#}
{#                                      <p class="features-info-i"></p>#}
{#                                      <p class="features-info-s">支持VMware和XenServer等第三方虚拟化</p>#}
{#                                      </a> </li>#}
{#                                    <li class="features-item swiper-slide dark">#}
{#                                      <h3>即将上线</h3>#}
{#                                      <i></i> <a class="features-info">#}
{#                                      <p class="features-info-i"></p>#}
{#                                      <p class="features-info-s"> 本地硬盘自定义RAID等功能 </p>#}
{#                                      </a> </li>#}
                                  </ul>
                                </div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next swiper-button-disabled"></div>
                              </div>
                            </div>
                        </div>
                        <div class="row line_row">
                            <div class="row">
                                <form role="form" class="form-horizontal">
                                    <div class="form-group col-sm-6">
                                        <label for="link_category" class="col-sm-3 control-label category_select_label">数据:</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="link_category"></select>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="ordinate" class="col-sm-3 control-label category_select_label">纵坐标:</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="ordinate"></select>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="abscissa" class="col-sm-3 control-label category_select_label">横坐标:</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="abscissa"></select>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <input type="button" class="col-sm-4 btn btn-default get_line_infos" style="float: right;" value="查询"/>
                                    </div>
                                </form>
                            </div>
                            <div id="line"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="entity_info">
                            <div id="entity_info_head" style="display: none;">
                                <a href="#" class="modify_entity_info" style="float:right;" data-toggle="modal" data-target="#myModal">编辑</a>
                                <p><span></span>类目:</span><span class="category_name">测试类目</span></p>
                                <p><span>名字:</span><span class="entity_name">测试节点</span></p>
                                <p><span>ID:</span><span class="entity_id">DSNOGBHOENB</span></p>
                            </div>
                            <div id="entity_info_body" style="display: none;">
                                <p>属性1：属性1内容</p>
                                <p>属性2：属性2内容</p>
                                <p>属性3：属性3内容</p>
                                <p>属性4：属性4内容</p>
                                <p>简介：测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</p>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function() {
                            var mySwiper = new Swiper(".swiper-container", {
                                slidesPerView: 3, //默认是显示4个
                                initialSlide: 999, //默认从第几个显示，999是为了让右边没有
                                spaceBetween: 0, //间距
                                speed: 1000,//速度
                                observer:true,//修改swiper自己或子元素时，自动初始化swiper
                                observeParents:true,//修改swiper的父元素时，自动初始化swiper
                                prevButton: ".swiper-button-prev", //左右按钮
                                nextButton: ".swiper-button-next"
                            })
                        })
                    </script>
                    <script type="text/javascript">
                        var line = echarts.init(document.getElementById('line'));
                        line.setOption({
                            color:["#32d2c9"],
                            title: {
                                x: 'left',
                                text: '',
                                textStyle: {
                                    fontSize: '25',
                                    color: '#000',
                                    fontWeight: 'bolder'
                                }
                            },
                            tooltip: {
                                trigger: 'axis'
                            },
                            toolbox: {
                                show: true,
                                feature: {
                                    dataZoom: {
                                        yAxisIndex: 'none'
                                    },
                                    dataView: {readOnly: false},
                                    magicType: {type: ['line', 'bar']}
                                }
                            },
                            xAxis:  {
                                type: 'category',
                                boundaryGap: false,
                                //这儿是要改的 每天的数据
                                data: [],
                                axisLabel: {
                                    interval:0,
                                    rotate:45
                                }
                            },
                            yAxis: {
                                type: 'value'
                            },
                            series: [
                                {
                                    name:'成绩',
                                    type:'line',
                                    data:[],
                                    markLine: {data: [{type: 'average', name: '平均值'}]}
                                }
                            ]
                        }) ;

                        {#$.ajax({#}
                        {#    url: '/index/acquire_movie_piaofang',#}
                        {#    type: 'post',#}
                        {#    data: {#}
                        {#        'movie_id': 123,#}
                        {#    },#}
                        {#    success: function (arg) {#}
                        {#        console.log(arg);#}
                        {#        line.setOption({#}
                        {#                //data.msg.date#}
                        {#                xAxis:{data:arg.msg.date},#}
                        {#                series:[{name:'测试',data:arg.msg.data}]#}
                        {#                });#}
                        {#    }#}
                    </script>
                    <script type="text/javascript">
                        {#var test1 = {{ data|safe }};#}
                        var nodes = {{ nodes|safe }};
                        var links = {{ links|safe }};
                        category = {{ category|safe }};
                        var categories = [];
                        var category_select = $("#category_select");
                        for (let i in category){
                            $("<option data-id='" + category[i].id + "'>" + category[i].category_name + "</option>").appendTo(category_select);
                        }
                        console.log(nodes);
                        var temp = [];
                        for (let i in nodes){
                            nodes[i]["des"] = nodes[i]["name"];
                            nodes[i]["symbolSize"] = 50;
                            nodes[i]["value"] = nodes[i]["id"];

                            if (temp.indexOf(nodes[i]["category"]) === -1){
                                temp.push(nodes[i]["category"]);
                            }
                        }
                        for (let i in category){
                            if (temp.indexOf(category[i].id) !== -1){
                                categories.push({
                                    name:category[i].category_name,
                                    id:category[i].id
                                });
                            }
                        }
                        for (let i in nodes){
                            for (let j in categories){
                                if (nodes[i].category === categories[j].id)
                                    nodes[i].category = parseInt(j);
                            }
                        }

                        console.log(nodes);
                        console.log(categories);
                        var myChart = echarts.init(document.getElementById('main'));

                        console.log("categories", categories);
                        option = {
                            // 图的标题
                            title: {
                                text: '关系图'
                            },
                            // 提示框的配置
                            tooltip: {
                                formatter: function (x) {
                                    return x.data.des;
                                }
                            },
                            // 工具箱
                            toolbox: {
                                // 显示工具箱
                                show: true,
                                feature: {
                                    mark: {
                                        show: true
                                    },
                                    // 还原
                                    restore: {
                                        show: true
                                    },
                                    // 保存为图片
                                    saveAsImage: {
                                        show: true
                                    }
                                }
                            },
                            legend: [{
                                // selectedMode: 'single',
                                data: categories.map(function (a) {
                                    return a.name;
                                })
                            }],
                            series: [{
                                type: 'graph', // 类型:关系图
                                layout: 'force', //图的布局，类型为力导图
                                symbolSize: 40, // 调整节点的大小
                                roam: true, // 是否开启鼠标缩放和平移漫游。默认不开启。如果只想要开启缩放或者平移,可以设置成 'scale' 或者 'move'。设置成 true 为都开启
                                edgeSymbol: ['circle', 'arrow'],
                                edgeSymbolSize: [2, 10],
                                edgeLabel: {
                                    normal: {
                                        textStyle: {
                                            fontSize: 20
                                        }
                                    }
                                },
                                force: {
                                    repulsion: 2500,
                                    edgeLength: [10, 50]
                                },
                                draggable: true,
                                lineStyle: {
                                    normal: {
                                        width: 2,
                                        color: '#4b565b',
                                    }
                                },
                                edgeLabel: {
                                    normal: {
                                        show: true,
                                        formatter: function (x) {
                                            return x.data.name;
                                        }
                                    }
                                },
                                label: {
                                    normal: {
                                        show: true,
                                        textStyle: {}
                                    }
                                },

                                // 数据
                                data: nodes,
                                links: links,
                                categories: categories,
                            }]
                        };
                        myChart.setOption(option);
                        {#window.onresize = myChart.resize();#}
                        {#myChart.on('click', function (param){#}
                        {#        console.log('param---->', param);  // 打印出param, 可以看到里边有很多参数可以使用#}
                        {#        //获取节点点击的数组序号#}
                        {#        var arrayIndex = param.dataIndex;#}
                        {#        console.log('arrayIndex---->', arrayIndex);#}
                        {#        console.log('name---->', param.name);#}
                        {#        if (param.dataType == 'node') {#}
                        {#            alert("点击了节点" + param.name)#}
                        {#        } else {#}
                        {#            alert("点击了边" + param.value)#}
                        {#        }#}
                    </script>
                </div>
            </div>
        </div>
   </div>
    <!-- 模态框1，新增类目 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        修改实体信息
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal update_entity_form" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">类目名</label>
                            <label class="col-sm-10 control-label fixed_info">测试类目1</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">实体名</label>
                            <label class="col-sm-10 control-label fixed_info">测试实体1</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">实体ID</label>
                            <label class="col-sm-10 control-label fixed_info">5ec616d93fa8cd4a8cf9ea2b</label>
                        </div>
                        <div class="form-group">
                            <label for="category_name" class="col-sm-2 control-label">类目名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="category_name"
                                       placeholder="请输入名字">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inherit_category" class="col-sm-2 control-label">继承类目</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="inherit_category">
                                    <option data-id="1">事物</option>
                                    {% for item in level2_child %}
                                        <option data-id="{{ item.id }}">{{ item.category_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="category_describe" class="col-sm-2 control-label">类目描述</label>
                            <div class="col-sm-10">
                                <textarea id="category_describe" class="form-control" style="resize:none;"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="update_entity">
                        更新实体内容
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</body>
</html>